*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
data
tensorboard_3d
**/__pycache__/
events.out*
ckpts
release
Output_PhotoSLAM
preprocessed_dataset
pretrained_model
preprocess_ver2
autoencoder/ckpt/*
submodules
test_new_method.py
thindvd_render_clip.py
thinhvd_view_viser.py
